<% include ./partials/header %>
<div class="box">
  <h1>Login Page</h1>
  <form class="field" action="/login" method="POST">
    <input class="input" type="text" name="username" placeholder="username">
    <input class="input" type="password" name="password" placeholder="password">
    <button class="button">Login</submit>
  </form>
</div>
<% include ./partials/footer %>